{% extends "base.html" %}

{% block content %}
    <p style="text-align:left;">
        id: {{ id }}<br/>
        name: {{ name }}<br/>
        symbol:{{ symbol }}<br/>
        slug: {{ slug }}<br/>
        num_market_pairs: {{ num_market_pairs }}<br/>
        date_added: {{ date_added }}<br/>
        cmc_rank: {{ cmc_rank }}<br/>
        last_updated: {{ last_updated }}<br/>
        quote_GBP_price: {{ quote_GBP_price }}<br/>
        quote_GBP_volume_24h: {{ quote_GBP_volume_24h }}<br/>
        quote_GBP_volume_change_24h: {{ quote_GBP_volume_change_24h }}<br/>
        quote_GBP_percent_change_1h: {{ quote_GBP_percent_change_1h }}<br/>
        quote_GBP_percent_change_24h: {{ quote_GBP_percent_change_24h }}<br/>
    </p>
{% endblock %}